<html><head>
	<title>Лабиринт</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<style>
	input		{ font-family : Courier;	font-size	: 12pt;	}
	select		{ font-family : Courier;	font-size	: 12pt;	}
	td.messages	{ font-family : Arial;		font-size	: 16pt; }
	a:link		{ color: blue; }
	a:visited	{ color: blue; }
	</style>
</head><body bgcolor="#FFF">

<table border='0' width='98%' cellspacing='0' cellpadding='2'>
<tr valign='top' height='75px'>
	<td width='*' class="messages" align='justify'>
		<TMPL_IF NAME=LINES>
			<font size="6">
				<TMPL_LOOP NAME=LINES><TMPL_VAR NAME=LINE></TMPL_LOOP>
			</font>
		</TMPL_IF>
	</td>
	<td width='255' rowspan='2'>
		<center><TMPL_VAR NAME=NAVY></center>
		<TMPL_VAR NAME=MAP>
	</td>
</tr>
<tr valign='top' rowspan='2'>
<td align='left'>
<TMPL_VAR NAME=USERMAP>
</td>
</tr>
</table>

<TMPL_IF NAME=DUMP><pre><TMPL_VAR NAME=DUMP ESCAPE=HTML></pre></TMPL_IF>

</body>
</html>
