<style>
td.stats { font-family : Arial; font-size : 10pt; }
td.navy  { font-family : Arial; font-size : 12pt; }
td.emenu { font-family : Arial; font-size : 12pt; }
</style>

<table align='center' border='0' cellspacing='0' cellpadding='1' width='250'>
<tr align='center' height='25px' valign='bottom'>
	<td colspan='3' class='navy'><TMPL_IF NAME=CAN_GO><a href='<TMPL_VAR NAME=SCRIPT>?go_up'></TMPL_IF><font size="5">Вверх</font><TMPL_IF NAME=CAN_GO></a></TMPL_IF></td>
</tr>
<tr align='center' height='20px' valign='bottom'>
	<td width='80' align='right' class='navy'><TMPL_IF NAME=CAN_GO><a href='<TMPL_VAR NAME=SCRIPT>?go_left'></TMPL_IF><font size="5">Влево</font><TMPL_IF NAME=CAN_GO></a></TMPL_IF></td>
	<td width='40' class='navy'> <!--TMPL_VAR NAME=STEPS--></td>
	<td width='70' align='left' class='navy'><TMPL_IF NAME=CAN_GO><a href='<TMPL_VAR NAME=SCRIPT>?go_right'></TMPL_IF><font size="5">Вправо</font><TMPL_IF NAME=CAN_GO></a></TMPL_IF></td>
</tr>
<tr align='center' height='20px' valign='bottom'>
	<td colspan='3' class='navy'><TMPL_IF NAME=CAN_GO><a href='<TMPL_VAR NAME=SCRIPT>?go_down'></TMPL_IF><font size="5">Вниз</font><TMPL_IF NAME=CAN_GO></a></TMPL_IF></td>
</tr>
<tr height='10px'>
	<td colspan='3'> </td>
</tr>
</table>

<table align='center' border='1' cellspacing='0' cellpadding='2' width='250'>
<tr>
	<td class='stats'>Патронов:</td>
	<td class='stats'>
		<TMPL_VAR NAME=ALL_BULLETS><TMPL_IF NAME=WET_BULLETS><TMPL_IF NAME=ALL_BULLETS_IS_WET>, но <TMPL_VAR NAME=ALL_BWPRAZ>
		  <TMPL_ELSE>
			(и <TMPL_VAR NAME=WET_BULLETS> из них <TMPL_VAR NAME=WBPRAZ>)
		 </TMPL_IF>
		</TMPL_IF>
	</td>

<TMPL_IF NAME=BITES>
</tr><tr>
	<td class='stats'>Укусов:</td>
	<td class='stats'><TMPL_VAR NAME=BITES></td>
</TMPL_IF>
<TMPL_IF NAME=MONEY>
</tr><tr>
	<td class='stats'>В носке:</td>
	<td class='stats'><TMPL_VAR NAME=MONEY> монет<TMPL_VAR NAME=MPRAZ></td>
</TMPL_IF>


<TMPL_IF NAME=GOODS>
</tr><tr>
	<td colspan='2' class='stats'>
Имеется: 
<TMPL_LOOP NAME=GOODS>
<TMPL_IF NAME=STATUS>мокрая </TMPL_IF><TMPL_VAR NAME=VALUE><TMPL_IF NAME="__last__">.<TMPL_ELSE>, </TMPL_IF>
</TMPL_LOOP>
	</td>
</TMPL_IF>



</tr>
</table>
<table align='center' border='0' cellspacing='0' cellpadding='2' width='250'>
<tr height='10px'><td colspan='2'> </td></tr>
<tr>
	<td align='left'  class='emenu'><TMPL_IF NAME=IS_ALIVE><a href='<TMPL_VAR NAME=SCRIPT>?logout'>Отложить игру</a><TMPL_ELSE><a href='<TMPL_VAR NAME=SCRIPT>?logout'>Закончить игру</a></TMPL_IF>
	</td>
	<td align='right' class='emenu'><a href='<TMPL_VAR NAME=SCRIPT>?abort'>Начать заново</a> </td>
</tr>
</table>

